# Ejercicio 2

Consideremos el siguiente vector de atributos binarios:  

(scones, cerveza, whisky, avena, futbol)

El vector x = (1, 0, 1, 1, 0) significa que se trata de una persona que le gustan los scones,
no toma cerveza, le gusta el whisky y la avena pero no ve futbol. En el archivo PreferenciasBritanicos.xls se encuentran las preferencias de 6 personas inglesas y 7 personas
escocesas.  

a) Implementar el clasificador ingenuo de Bayes.  
b) Clasificar el ejemplo x = (1, 0, 1, 1, 0) determinando si corresponde a las preferencias de una persona inglesa o escosesa.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

In [3]:
datos = pd.read_excel("PreferenciasBritanicos(1).xlsx")

In [4]:
datos

    scones  cerveza  wiskey  avena  futbol Nacionalidad
0        0        0       1      1       1            I
1        1        0       1      1       0            I
2        1        1       0      0       1            I
3        1        1       0      0       0            I
4        0        1       0      0       1            I
5        0        0       0      1       0            I
6        1        0       0      1       1            E
7        1        1       0      0       1            E
8        1        1       1      1       0            E
9        1        1       0      1       0            E
10       1        1       0      1       1            E
11       1        0       1      1       0            E
12       1        0       1      0       0            E

In [6]:
from ejercicio2_helper import BernoulliNaiveBayes as BNV_ej2
from sklearn.naive_bayes import BernoulliNB

In [7]:
clf_ej2 = BNV_ej2(smoothing=1e-10)
clf_sklearn=BernoulliNB(alpha=1e-10)

In [8]:
clf_ej2.fit(datos, "Nacionalidad")
clf_sklearn.fit(datos.drop(columns="Nacionalidad"),datos["Nacionalidad"])

BernoulliNB(alpha=1e-10, binarize=0.0, class_prior=None, fit_prior=True)

In [9]:
print("Prioris obtenidas por nuestro modelo")
print(clf_ej2.log_prioris)
print("Prioris obtenidas por sklearn")
print(clf_sklearn.classes_,clf_sklearn.class_log_prior_)

Prioris obtenidas por nuestro modelo
{'I': -0.7731898882334817, 'E': -0.6190392084062235}
Prioris obtenidas por sklearn
['E' 'I'] [-0.61903921 -0.77318989]

In [10]:
print("Log probabilidades de los predictores obtenidas por nuestro modelo")
print(clf_ej2.log_likelihoods_1,end="\n\n\n")
print("Log probabilidades de los predictores obtenidas por sklearn")
print(clf_sklearn.classes_, clf_sklearn.feature_log_prob_)

Log probabilidades de los predictores obtenidas por nuestro modelo
{'I': scones    -0.693147
cerveza   -0.693147
wiskey    -1.098612
avena     -0.693147
futbol    -0.693147
dtype: float64, 'E': scones    -1.428568e-11
cerveza   -5.596158e-01
wiskey    -8.472979e-01
avena     -3.364722e-01
futbol    -8.472979e-01
dtype: float64}


Log probabilidades de los predictores obtenidas por sklearn
['E' 'I'] [[-1.42859058e-11 -5.59615788e-01 -8.47297860e-01 -3.36472237e-01
  -8.47297860e-01]
 [-6.93147181e-01 -6.93147181e-01 -1.09861229e+00 -6.93147181e-01
  -6.93147181e-01]]

In [11]:
print("Las probabilidades de cada clase para cada observación, según nuestro modelo:")
print(clf_ej2.predict_proba(datos), end="\n\n\n")
print("Las probabilidades de cada clase para cada observación, según sklearn:")
print(clf_sklearn.predict_proba(datos.drop(columns="Nacionalidad")))

Las probabilidades de cada clase para cada observación, según nuestro modelo:
           I             E
0   1.000000  4.498116e-11
1   0.192372  8.076276e-01
2   0.471802  5.281981e-01
3   0.401170  5.988304e-01
4   1.000000  1.599330e-11
5   1.000000  3.998325e-11
6   0.322672  6.773283e-01
7   0.471802  5.281981e-01
8   0.151569  8.484313e-01
9   0.211337  7.886630e-01
10  0.263239  7.367613e-01
11  0.192372  8.076276e-01
12  0.373232  6.267682e-01


Las probabilidades de cada clase para cada observación, según sklearn:
[[4.49818608e-11 1.00000000e+00]
 [8.07627594e-01 1.92372406e-01]
 [5.28198074e-01 4.71801926e-01]
 [5.98830409e-01 4.01169591e-01]
 [1.59935505e-11 1.00000000e+00]
 [3.99838763e-11 1.00000000e+00]
 [6.77328316e-01 3.22671684e-01]
 [5.28198074e-01 4.71801926e-01]
 [8.48431286e-01 1.51568714e-01]
 [7.88662970e-01 2.11337030e-01]
 [7.36761320e-01 2.63238680e-01]
 [8.07627594e-01 1.92372406e-01]
 [6.26768226e-01 3.73231774e-01]]

In [12]:
print("Las estimaciones de la clases para cada observación, según nuestro modelo:")
print(clf_ej2.predict(datos), end="\n\n\n")
print("Las estimaciones de la clases para cada observación, según sklearn:")
print(clf_sklearn.predict(datos.drop(columns="Nacionalidad")))

Las estimaciones de la clases para cada observación, según nuestro modelo:
0     I
1     E
2     E
3     E
4     I
5     I
6     E
7     E
8     E
9     E
10    E
11    E
12    E
dtype: object


Las estimaciones de la clases para cada observación, según sklearn:
['I' 'E' 'E' 'E' 'I' 'I' 'E' 'E' 'E' 'E' 'E' 'E' 'E']

In [13]:
test = pd.DataFrame({"scones":[1],"cerveza":[0], "wiskey":[1], "avena":[1], "futbol":[0], "Nacionalidad":""})

In [14]:
print("La estimación de la clases para test, según nuestro modelo:")
print(clf_ej2.predict(test), end="\n\n\n")
print("La estimación de la clases para test, según sklearn:")
print(clf_sklearn.predict(test.drop(columns="Nacionalidad")))

La estimación de la clases para test, según nuestro modelo:
0    E
dtype: object


La estimación de la clases para test, según sklearn:
['E']

In [15]:
print(clf_ej2.predict_proba(test), end="\n\n\n")

          I         E
0  0.192372  0.807628